*{
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}

th{

}
.th{
  text-align: center;
}

td{

}
.td{
  text-align: center;
}

body{
	margin:0 auto;
	border:0;
	width:100%;
	overflow-x:hidden;
	overflow-y:scroll;
}
html, body {
    display: flow-root;
}
a {
	text-decoration:none;}
.clear{
	clear:both;}
.hover-a:hover{
	opacity:0.8;
	cursor:pointer;
	transition:.15s ease-in-out;
}
.white-text{
	color:white;}
.blue-text{
	color:#2b2b88;
		}
.blue-bg{
	background-color:#2b2b88;
}
.display-block{
	display:block;}
.white-bg{
	background-color:white;}
.light-grey {
    color: #888888;}
.width100{
	width:100%;}
.overflow{
	overflow:hidden;}
.float-left{
	float:left;}
.float-right{
	float:right;}
.text-center{
	text-align:center;}
.div-center{
	margin-left:auto;
	margin-right:auto;}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
.clean:focus{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:selected{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:active{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean::selection {
	outline: none !important;
	outline-offset: 0  !important;
}
.clean2{
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2:selected{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2:focus{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2:active{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2::selection {
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.pointer:hover{
	cursor:pointer;}
.color-black{
	color:black !important;}
.color-black:hover{
	color:white !important;}
	/*
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #fafeff inset !important;
}*/

.text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
}
.height100{
	min-height:100vh;}
.same-padding{
	padding-left:7.5%;
	padding-right:7.5%;}
.width50 {
    width: 50%;
}
.red-bg{
	background-color:#264a9c;
	background-image:url(../img/login.jpg);
	background-size:cover;
	background-position: center;}
.left-red-div {
    float: left;
    height: 100vh;
}
.login-img {
    width: 150px;
    margin-left: calc(50% - 75px);
    margin-top: 10vh;
}
.right-grey-div {
    float: right;
    padding-right: 7.5%;
    padding-left: 7.5%;
	padding-top: calc(50vh - 220px);
	min-height:100vh;
}
.grey-bg{
	background-color:#f0f1f2;
	}
.tele-h1 {
    font-weight: 900;
}
.login-p {
    font-weight: 600;
}
.tele-input {
    width: 100%;
    margin-bottom: 20px;
    background-color: #d0e2ef;
    border: 0;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
}
.margin-bottom {
    margin-bottom: 50px;
}
.red-btn {
    border: 0;
    background-color: #69cbf3;
    color: white;
    width: 100%;
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
}
.red-btn:hover{
	background-color:#4cb7d8;
	transition:.25s ease-in-out;
	cursor:pointer;
}
.side-bar {
    width: 300px;

    padding-top: 30px;
    height: 100vh;
    position: fixed;
}
.logo-img {
    width: 150px;
    margin-left: 75px;
}
.sidebar-ul {
    margin-top: 30px;
	padding: 0;
	
}
.sidebar-li {
    list-style: none;
    color: white;
    padding: 8px 0;
	clear: both;
	overflow: hidden;
	padding-left: 50px;
}
.sidebar-li img {
    width: 30px;
	float:left;
}
.sidebar-li p {
    float: left;
    margin-top: 8px;
	margin-left:25px;
	font-weight: 500;
	margin-bottom: 0;
}
.sidebar-li:hover{
	color:#264a9c;
	background-color:#f0f1f2;
	transition:.25s ease-in-out;}
.hover1b{
	display:none;}
.hover1:hover .hover1a{
	display:none;}
.hover1:hover .hover1b{
	display:inline-block;
	cursor:pointer;}
.next-to-sidebar {
    margin-left: 300px;
    width:calc(100% - 300px);
    padding-left: 50px;
    padding-right: 50px;
	overflow:hidden;
	min-height:100vh;
	background-color:#f0f1f2;
	padding-top: 50px;
}
.four-div {
    background-color: white;
    float: left;
    width: 22%;
    border-radius: 10px;
	text-align: center;
}
.left-mid-four {
    margin-left: 4%;
    margin-right: 4%;
}
.right-mid-four {
    margin-right: 4%;
}
.big-icon {
    width: 50%;
	text-align:center;
}
.white-to-pink-div {
    padding: 20px;
	background-color:white;
}

.four-div p {
    font-weight: 600;
	color: black;
}
.white-to-pink-div:hover{
	background-color:#264a9c;
	color:white;
	cursor:pointer;
	transition:.25s ease-in-out;
	text-align:center;}
.white-to-pink-div:hover p{
	color:white !important;}
.mobile-logo {
    height: 30px;
    float: left;
}
.menu-color {
    background-color: #69cbf3;
	padding-top: 5px;
    padding-bottom: 3px;
}
.dl-menu {
    height: 100vh;
    overflow: scroll;
}
.dl-menuwrapper{
	display:none;
	float: right;
    width: auto;
}
.dl-menuwrapper button {
    margin-top: 3px;	
}
.dl-menu {
    margin-top: 5px !important;
}
.header1{
	display:none;}
.input50-div {
    width: 48%;
    float: left;
}
.second-input50 {
    margin-left: 4%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px #d0e2ef inset;
  transition: background-color 5000s ease-in-out 0s;
  font-size:15px;
}
.margin-top30{
	margin-top:30px;}
.fix300-btn {
    width: 300px;
    margin-left: calc(50% - 150px);
}
.shipping-table {
    width: 100%;
	border-collapse:collapse;
    font-size: 14px;
	word-break: keep-all;
}
.shipping-table th{
	text-align:left;
	padding: 12px 2px;
	border-bottom: 1px solid grey;
	border-top: 1px solid grey;
	vertical-align: top;
}
.shipping-table td{
	border-bottom: 1px solid gainsboro;
    padding: 12px 2px;
	vertical-align: top;
}
.action-p {
    margin: 0;
    font-weight: 800;
}
.overflow-scroll-div {
    width: 100%;
    overflow: auto;
	height: 85vh;
}
.red-link{
	color:#69cbf3;
}
.red-link:hover{
	color:#4cb7d8;
	transition:.15s ease-in-out;
	cursor:pointer;}
.img-btn{
	background:none;
	border:0;
	width: 30px;}
.margin-left0{
	margin-left:0 !important;}
.black-white-link2:hover{
	color:#264a9c;
	cursor:pointer;
	transition:.15s ease-in-out;}
.back-btn2 {
    width: 25px;
}
.clean-bg{
	background-color:transparent;}
.logo-img {
    width: 120px;
    margin-left: 0;
}
.sidebar-ul {
    margin-top: 10px;}
.side-bar {
    padding-top: 10px;}
.add-status-btn {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 30px;
}
.select-style{
	border: 0;
    background-color: transparent;
    font-weight: 800;	
}	
/* The Modal (background) */
.modal-css {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-css {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 0;
  width: 50%;
  border-radius: 10px;
  margin-top: calc(50vh - 220px);
}

/* The Close Button */
.close-css {
  color: #264a9c;
  float: right;
  font-size: 42px;
  font-weight: bold;
  margin-top: -10px;
}

.close-css:hover,
.close-css:focus {
  color: #163375;
  text-decoration: none;
  cursor: pointer;
}
.input-p {
    margin-bottom: 5px;
}
.input-style {
    font-size: 18px;
    width: 100%;
    padding: 5px;
	margin-bottom: 10px;
}
.modal-submit {
    width: 300px;
	margin-top: 30px;
}
.search-input{
	width:47.5%;
	float:left;
	font-size:16px;
	margin-bottom:20px;}
.second-search-input{
	margin-left:5%;}
.four-input-div {
    width: 22%;
    float: left;
}
.left-four-input {
    margin-left: 4%;
    margin-right: 4%;
}
.right-four-input{
	margin-right: 4%;
}
.big-four-input-container {
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}
.input-top-p {
    font-size: 12px;
    margin-bottom: 2px;
}
.ui-widget-header{
	color:white !important;}
.submit-btn {
    width: 48%;
    border: 0;
    float: left;
	padding:6px;
	background-color:#264a9c;
	color:white;
	border-radius:8px;
	font-size:18px;
	margin-top:28px;
}
.submit-btn:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
	background-color:#163375;}
.right-submit-btn{
	margin-left:4%;}
.ui-widget-header {
    border: 1px solid #264a9c!important;
    background: #264a9c!important;}	
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #f5a1b0 !important;
    background: #f5a1b0 !important;}	
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
	    background: #264a9c !important;
		color:white !important;
	
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
	    background: #264a9c !important;
		color:white !important;
	
}	
.customer-h1{
	float:left;}
.right-data-div {
    float: right;
    font-size: 14px;
    text-align: right;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    padding: 10px;
}
.green-text{
	color:#00b178;}
.pink-text {
    color: #264a9c;
}
.no-input-style {
    background-color: transparent;
    padding-left: 0;
    font-weight: 600;
}
.eye-icon {
    width: 25px;
    float: left;
	margin-top: 9px;
}

.eye-icon:hover{
	opacity:.85;
	cursor:pointer;
	transition:.15s ease-in-out;
	}
.password-input {
    width: calc(100% - 30px);
    float: left;
	background-color: transparent;
	margin-bottom:0;
}
.password-input-div {
    background-color: #d0e2ef;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 20px;
}
.white-bg-input-ow{
	background-color:white;
	border:1px solid grey;}
.pagination-pop {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pagination-pop-a {
    color: #264a9c;
    font-size: 14px;
    margin: 0 5px;
}
.pagination-pop-a:hover{
	cursor:pointer;
	color:#ff758c;
	transition:.15s ease-in-out;}
.three-input-div {
    width: 31%;
    float: left;
}
.left-three-input {
    margin-left: 3.5%;
    margin-right: 3.5%;
}
.total-call-b {
    color: #264a9c;
    font-weight: 700;
    font-size: 20px;
}
.call {
    height: 16px;
    margin-left: 10px;
}
.tele-btn {
    float: left;
    margin-right: 10px;
    background-color: #264a9c;
    color: white;
    border: 0;
    padding: 3px 10px;
    border-radius: 5px;
	margin-top: 10px;
}
.tele-btn:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
	background-color:#163375;}
.small-image {
    width: 25px;
}
.align-left{
	margin-left:0;}
.margin-top20{
	margin-top:20px;}
.invoice-logo {
    text-align: center;
    height: 1.5cm;
    margin: 0 auto;
}
.invoice-company-name {
    text-align: center;
}
.invoice-logo-p {
    margin: 0;
}
.invoice-company-name {
    text-align: center;
    margin-top: 10px;
	margin-bottom: 5px;
}
.invoice-company-number {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    margin-top: 0;
}
.ms-p {
    margin-bottom: 0;
    margin-top: 10px;
}
.invoice-text {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
}
.left-header {
    display: inline-block;
    vertical-align: top;
}
.right-header {
    display: inline-block;
    vertical-align: top;
}
.header-logo {
    width: 170px;
	margin-right:15px;
}
.header-div {
    width: 100%;
    border-bottom:1.5px solid black;
    padding-bottom: 5px;
    margin-bottom: 30px;
}
.add-p {
    margin-top: 2px;
}
.right-date-p{
	float:right;}
.margin-top5{
	margin-top:5px;}
.sign-line {
    border-bottom: 1px solid black;
    width: 150px;
    margin-top: 80px;
}
.sign-line2 {
    margin-top: 95px;
}
.left-signature, .right-line {
	display:inline-block;
}
.left-invoice-div {
    float: left;
    width: 49%;
}
.right-invoice-div {
    float: right;
    max-width: 49%;
}
.small-note {
    font-size: 11px;
    margin-bottom: 0;
    margin-top: 5px;
}
.sign-line-width{
	margin-top:5px;
	font-size:11px;
	width: 150px;
    text-align: center;}
.term-ol {
    padding-left: 15px;
}
.term-ol li {
    margin-bottom: 20px;
}
.left-sign-div {
    float: left;
    width: 50%;
}
.right-sign-div{
	float:left;
	max-width:49%;}
.next-to-sidebar3a{
	padding-bottom:0;}
.next-to-sidebar3b{
	padding-top:0;}
.date-input {
    width: 125px;
}
.blue-btn{
	background-color:#69cbf3;
	color:white;
	transition:.15s ease-in-out;
	cursor:pointer;
	border:0;
	padding:5px 10px;
	border-radius:5px;
}
.blue-btn:hover{
	background-color:#4cb7d8;	
}
.dl-menuwrapper .dl-menu.dl-menuopen{
	background-color:#69cbf3;}
.print-table1 td, .print-table1 {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
.text-right{
	text-align:right;}
.border-right {
    border-right: 1px solid black;
}
.top-border{
	border-top:1px solid black;}
.print-table2{
	border-collapse:collapse;
	border: 1px solid black;}
.print-table2 th {
    text-align: left;
	padding:10px 5px;
	border:1px solid black;
}
.print-table2 td{
	padding:5px;
}
.center-div2 {
    width: 75%;
    margin: 0 auto;
}
.print-table3{
	border-collapse:collapse;}
.print-table3 td{
	padding:5px;
	border:1px solid black;}
.print-table3 th {
    text-align: left;
	padding:5px;
	border:1px solid black;}
.oz-p, .oz-form {
    display: inline-block;
}
.oz-p {
    margin: 0;
    padding: 0 5px;
}
.oz-btn {
    border: 0;
    background-color: #69cbf3;
    color: white;
	cursor:pointer;
	transition:.15s ease-in-out;
	font-size: 21px;
    border-radius: 50%;
    min-height: 24px;
    min-width: 24px;
}
.oz-btn:hover {
    background-color: #4cb7d8;
}
.min-height-p {
    min-height: 40px;
}
.textarea-min-height{
	min-height: 80px;
}
.print-table2 .padding10{
	padding-top:10px;
	padding-bottom:10px;}
.back-icon {
    width: 25px;
    margin-right: 10px;
    cursor: pointer;
}
.opacity-hover{
	transition:.15s ease-in-out;
	opacity:0.75;}
.opacity-hover:hover{
	opacity:1;}
.gp-h1 {
    font-weight: 900;
    font-size: 14px;
}
.small-padding{
	padding-left:10px;
	padding-right:10px;}
.overflow-auto{
	overflow-x:auto;}	
.width175{
	width:175px;}
.width195{
	width:195px;}
.notice-modal-content{
    width: 50%;
	text-align:center;
}
.close-notice{
	font-weight:400;}
.ow-small-table{
	font-size:10.5px !important;
	border:1px solid black;}
.ow-small-table th, .ow-small-table td{
	padding:12px 5px;
	border: 1px solid black;}
.margin-bottom0{
	margin-bottom:0 !important;}
.margin-bottom5{
	margin-bottom:5px !important;}
.margin-bottom2{
	margin-bottom:2px !important;}
.margin-bottom30{
	margin-bottom:30px;}
.margin-top10{
	margin-top:10px;}
.margin-top20{
	margin-top:20px;}
.margin-top40{
	margin-top:40px;}
.padding-bottom50{
	padding-bottom:50px;}
.print-table{
	margin-top:25px;}
.web-view-no{
	display:none;}
::-moz-selection { background:#69cbf3 !important;
color:white!important; }
::selection { background:#69cbf3 !important; color:white!important; }
@media all and (max-width: 1300px){
.black-white-link2 {
    font-size: 21px;
}
.back-btn2 {
    width: 15px;
}
}
@media all and (max-width: 1250px){
.four-div p {
    min-height: 38px;
}
.invoice-company-name {
    font-size: 15px;
}
.invoice-company-number {
    font-size: 12px;}
.invoice-company-number2 {
    font-size: 10px;
}
.header-logo {
    width: 150px;
}
}
@media all and (max-width: 1200px){
.submit-btn{
	font-size:14px;
	border-radius:5px;
	padding-top:8px;}
.four-input-div .tele-input{
	font-size:14px;}
.shipping-table{
	font-size:11px;}
.three-input-div .submit-btn {
    padding-top: 10px;
    padding-bottom: 8px;
}
}
@media all and (max-width: 1100px){
.four-div{
	width:48%;
	margin-bottom:30px;}
.left-mid-four {
    margin-left: 4%;
    margin-right: 0;
}
.right-mid-four {
    margin-left: 0;
    margin-right: 4%;
}
.tempo-2-clear {
    clear: both;
}
}
@media all and (max-width: 1000px){
.first-four-div {
    width: 100% !important;
}
.four-input-div {
    width: 48%;
}
.right-four-input {
    margin-right: 0;
}
.left-four-input {
    margin-left: 0;
    margin-right: 4%;
}
.submit-btn{
	margin-top: 0;	
}
.last-four-div{
	width:100% !important;}
.first-four-div .first-four-div{
	margin-bottom:0;}
.three-input-div .submit-btn {
    margin-top: 28px;
}
.mob-four-input1 {
    margin-right: 4%;
}
.mob-four-input2 {
    margin-right: 0;
}
.notice-modal-content{
    width: 80%;}
}
@media all and (max-width: 900px){
.black-white-link2 {
    font-size: 17px;
}
.back-btn2 {
    width: 12px;
}
.status-content {
    width: 75%;
}
}
@media all and (max-width: 800px){
.side-bar{
	display:none;}
.next-to-sidebar{
	width:100%;
	margin:0;
	padding-left:7.5%;
	padding-right:7.5%;}
.dl-menuwrapper{
	display:block;}
.sidebar-li p {
    margin-top: 5px;
    font-size: 14px;
}
.header1{
	display:block;}
.h1-title {
    font-size: 24px;
}
.tab-h2 {
    font-size: 16px;
}
.menu-h1{
	font-size:21px;}
}
@media all and (max-width: 700px){
.left-red-div{
    width: 100%;
    float: none;
	height:auto;	
}
.login-img {
	margin-top:0;
    padding-top: 50px;
    padding-bottom: 50px;
}
.right-grey-div{
	float:none;
	width:100%;
	min-height:auto;
	padding-bottom: 50px;
	padding-top:50px;}
}
@media all and (max-width: 600px){
.modal-submit {
    width: 100%;}
.ms-p, .print-table1 th, .print-table1 td, .print-table2 th, .print-table2 td, .print-table3 th, .print-table3 th{
	font-size:13px;}
.textarea-min-height{
	min-height: 110px;
}
}
@media all and (max-width: 550px){
.status-content {
    width: 85%;
}
.input-p {
    font-size: 13px;
}
.input-style {
    font-size: 15px;}
.shipping-table {
    font-size: 9.5px;
}
}
@media all and (max-width: 500px){
.h1-title {
    font-size: 21px;
}	
.fix300-btn{
	width:100%;
	margin-left:0;}
.input50-div {
    width: 100%;
    float: none;
    margin-left: 0;
}
.right-data-div {
    font-size: 11px;}
}
@media all and (max-width: 470px){
.three-input-div {
    width: 47.5%;
    margin-left: 0;
    margin-right: 0;
}
.left-three-input{
	margin-left:5%;}
.sub-div{
	width:100%;
}
.three-input-div .submit-btn {
    margin-top: 10px;
}
}
@media all and (max-width: 450px){
.search-input{
	width:100%;
	float:none;
	margin-left:0;}

}
@media all and (max-width: 400px){
.four-div {
    width: 100%;
    margin-left: 0;
    margin-right: 0;}	
.four-div p {
    min-height: 0;
}	
	
}
@media print {
.web-view-no{
	display:block;}
.no-print{
	display:none !important;}
.next-to-sidebar{
	background-color:white !important;}	

.same-padding{
	padding-left:0.5cm;
	padding-right:0.5cm;}
.next-to-sidebar3{
	padding-top:0.25cm;
	padding-bottom:0.25cm;
	}
*{
	font-family:arial !important;}
.page1-div{
	height:26.3cm;
	background-color:white !important;}
.side-bar{
	display:none;}
.invoice-company-number{
	font-size:10px;}
.invoice-company-number2{
	font-size:9.5px;}
.header-logo{
	width:135px;}
.ms-p, .print-table, .time-table, .term-ol li{
	font-size:12.5px;}
.small-note{
	font-size:10px;}
.left-sign-div .sign-line, .right-sign-div .sign-line{
	margin-top:50px;}
.margin-top40 {
    margin-top: 20px;
}
.ow-small-table{
	font-size:9.5px !important;}
}
